[Unit]
Description=Daemon to manage WireGuard

[Service]
Environment=LISTEN=127.0.0.1:8080 STORAGE_FILE="/var/lib/wireguard-daemon/storage.json"
EnvironmentFile=-/etc/sysconfig/wireguard-daemon
ExecStart=/usr/bin/wireguard-daemon -storage-file "${STORAGE_FILE}" -listen "${LISTEN}"
Restart=on-failure
PrivateDevices=no
User=wireguard-daemon
Group=wireguard-daemon

[Install]
WantedBy=multi-user.target
